*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#myContainer{
    flex-direction: column;
    margin: 3rem auto;
    gap: 2rem;
    display: flex;
    width: fit-content;
}
#score{
    display: flex;
    margin: 0 auto;
    font-size: 5rem;
}
#resetButton{
    width: 6rem;
    height: 2rem;
    margin: 0 auto;
    border-radius: 3rem;
}
#myCanvas{
    border: 2px solid black;
}